CompileFlags
  Add:
    - -I/nix/store/5djq7mrpqv8kzn2xi22y5d8ww7rsix82-glibc-2.40-66-dev/include
    - -I/nix/store/47jmi5pvn8xh447nz99n3nicy9fi831v-libcxx-19.1.7-dev/include
    - -I/nix/store/rxip36f795fv5rayack21g62ifvnaypf-minilibx-0-unstable-2021-10-30-dev/include
    - -I/nix/store/5wgchab246j0xpdggvkf1m1k6vzayvmz-libX11-1.8.11-dev/include
    - -I/nix/store/mhjxl34kd3ifz42h858h0xmpzvxdn1ry-xorgproto-2024.1/include
    - -I/nix/store/28iy7x8x6pk3mcfda1lafbgdd53fgdyw-libxcb-1.17.0-dev/include
    - -I/nix/store/43yzpq0g3vsmi4647480fx02bm167rfp-libXext-1.3.6-dev/include
    - -I/nix/store/bifi0b6ir8jfk0mpzy7px2ds5887av1z-libXau-1.0.12-dev/include
    - -I/nix/store/0afiwm430m9psiyqgn3x3qqc13d6a0ng-valgrind-3.24.0-dev/include
    - -I/nix/store/wz0j2zi02rvnjiz37nn28h3gfdq61svz-python3-3.12.9/include
    - -I/nix/store/87hsv7pc321h80j7223209nxc8vmabqb-nodejs-22.14.0/include
    - -I/nix/store/1494kgcid9vd1y7vfrrk67q1ybqbzpam-tree-sitter-0.25.1/include
    - -I/nix/store/yy2qkq8dm8mkcjis5wk7x6lmaw7wvmql-compiler-rt-libc-19.1.7-dev/include
    - -I/nix/store/rdrbyalncimqir1gjdjwfns370zwi0bf-clang-wrapper-19.1.7/resource-root/include
