CompileFlags
  Add:
    - -I/nix/store/aax0hx68i2ikhpf27hdm6a2a209d4s6p-glibc-2.40-36-dev/include
    - -I/nix/store/iiaapl5z1rmz75nl0mzm08xp8hwbz46r-libcxx-18.1.8-dev/include
    - -I/nix/store/81pi53caajzplhq1k9j42bnzl0122zay-minilibx-0-unstable-2021-10-30-dev/include
    - -I/nix/store/f3hb1fk2kaq0nx976ims5lqry03fqlby-libX11-1.8.10-dev/include
    - -I/nix/store/qypxaa1d0a9vyxgcsqv2nkcdd0f8w4al-xorgproto-2024.1/include
    - -I/nix/store/ylk6vsll9ms1d4gls2rdxdckbgf4n4ig-libxcb-1.17.0-dev/include
    - -I/nix/store/zpa6r1sbbawk868zqzx6w1z98nddgy5q-libXext-1.3.6-dev/include
    - -I/nix/store/hy1aadf0mp4q2nhrs91sfm4g3rjg2lyq-libXau-1.0.11-dev/include
    - -I/nix/store/z327i0kyk1k0nq5qlyp5a03xnhdha36x-valgrind-3.23.0-dev/include
    - -I/nix/store/px2nj16i5gc3d4mnw5l1nclfdxhry61p-python3-3.12.7/include
    - -I/nix/store/z0ivg3dbal4sk5h0c7p1pfkxc7ff98ri-nodejs-20.18.0/include
    - -I/nix/store/dq9kk8izvim9kn7qpdyj8r0s2qifpv94-tree-sitter-0.24.3/include
    - -I/nix/store/bsjs846i6r2pfl7vbld7mp02fyc6ghkp-compiler-rt-libc-18.1.8-dev/include
    - -I/nix/store/hnfkms9dykvh61nwdqydzmbgzzr5lwy0-clang-wrapper-18.1.8/resource-root/include
